[Unit]
Description=M3i
After=network.target

[Service]
ExecStart=/home/pi/code/m3i/run.sh
WorkingDirectory=/home/pi/code/m3i
Type=idle
Restart=always
StandardOutput=syslog
SyslogIdentifier=m3i

[Install]
WantedBy=multi-user.target
