[Unit]
Description=M3i
After=network.target

[Service]
ExecStart=/home/pi/code/M3iPiZeroW/run.sh
WorkingDirectory=/home/pi/code/M3iPiZeroW
Type=idle
Restart=always
StandardOutput=syslog
SyslogIdentifier=M3iPiZeroW

[Install]
WantedBy=multi-user.target
